$sizing_scale0: 0.125rem;
$sizing_scale100: 0.25rem;
$sizing_scale200: 0.375rem;
$sizing_scale300: 0.5rem;
$sizing_scale400: 0.625rem;
$sizing_scale500: 0.75rem;
$sizing_scale550: 0.875rem;
$sizing_scale600: 1rem;
$sizing_scale650: 1.125rem;
$sizing_scale700: 1.25rem;
$sizing_scale750: 1.375rem;
$sizing_scale800: 1.5rem;
$sizing_scale850: 1.75rem;
$sizing_scale900: 2rem;
$sizing_scale950: 2.25rem;
$sizing_scale1000: 2.5rem;
$sizing_scale1200: 3rem;
$sizing_scale1400: 3.5rem;
$sizing_scale1600: 4rem;
$sizing_scale2400: 6rem;
$sizing_scale3200: 8rem;
$sizing_scale4800: 12rem;


$color_border: rgba(51,51,51,0.12);