@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

.message-rule-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: getSize(300);
  padding: getSize(300) getSize(500);
  border-radius: getSize(100);
  border: $sizing_scale0 solid $color_border;
  .drag-icon {
    cursor: grab;
  }
  .name-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .name {
      margin: 0;
    }
  }
}